@--color-primary:       #62a303;
@--color-primary-plain: #eff6e6;

.margin-top(@t: auto) {
  margin-top: @t;
}
.margin-right(@r: auto) {
  margin-right: @r;
}
.margin-bottom(@b: auto) {
  margin-bottom: @b;
}
.margin-left(@l: auto) {
  margin-left: @l;
}

body {
  margin:0;
  padding: 0;
}
* {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;  
}
h1, h2, h3, h4 {
  .margin-top(@t: 15px);
  .margin-bottom(@b: 15px);
}
h1, h2, h3, h4, p, span, div, template, block {
  span {
    font-size: inherit; /* 避免嵌入导致样式失效*/
  }
}
h3 {
  font-size: 18px;
}
p, span, template, block {
  font-size: 14px;
}
@keyframes fold
{
from { width: calc( 100vw - 64px ) };
to { width: calc( 100vw - 200px ) };
}
@keyframes unfold
{
from { width: calc( 100vw - 200px ) };
to { width: calc( 100vw - 64px ) };
}

/* 设置滚动条的样式 */
/*滚动条整体部分,必须要设置*/
::-webkit-scrollbar{
    width: 8px;
    height: 8px;
    background-color: #333;
}
/*滚动条的轨道*/
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 4px rgba(0,0,0,.1);
    background-color: #fff;
}
/*滚动条的滑块按钮*/
::-webkit-scrollbar-thumb{
    border-radius: 8px;
    background-color: #9c9c9c;
}

/**
 * 修改element的基本样式
 */
.navigation-bar.el-menu--collapse { /* 为兼容导航折叠后文字依旧存在的问题*/
  .el-submenu__title {
    color: #001324!important;
    overflow-x: hidden; 
    i {
      color: #909399!important;
    }
  }
  .el-submenu.is-active .el-submenu__title{
    background: #0E82EB!important;
    color: #0E82EB!important;
    i {
      color: #fff!important;
    }
  }
}
.navigation-bar>.el-submenu.is-active.is-opened > .el-submenu__title:first-child {
  background: #0E82EB!important;
  i {
    color: #fff!important;
  }
}
.navigation-bar {

  width: 200px;
  height: 100%;
  &.el-menu--collapse {
    width: 64px;
  }
  .el-menu-item.is-active.single { // 单个节点
    background-color: #0E82EB!important;
    color: #fff;
  }
  .el-submenu .el-menu .el-menu-item {
    padding-left: 48px!important;
  }
}
.el-select-dropdown__wrap.el-scrollbar__wrap {
  max-height: 260px;
}
.el-button--small {
  padding-top: 8px;
  padding-bottom: 8px;
}

/**
 * 左侧导航
 */
.left-nav .logo{
  display: flex;
  overflow: hidden; 
  align-items: center;
  padding: 0!important;
  color: #fff;
  &:hover {
    cursor: default;
  }
  span {
    display: inline-block;
    font-weight: bold;
    min-width: 100%;
    overflow: hidden; 
    color: #fff;
  }
}
.el-table tr th {
  background: #FAFAFA;
  color: #333333;
}
/* textarea的默认字体样式 */
textarea.el-textarea__inner {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

/*透明弹窗*/
.transparent-dialog {
  .el-dialog__close.el-icon.el-icon-close {
    font-size: 40px;
    color: #fff;
  }
  .el-dialog__header {
    border-bottom: 0px solid transparent!important;
  }
  .el-dialog {
    .el-dialog__headerbtn {
      margin-top: -20px;
      margin-right: -10px
    }
    box-shadow: none;
    background: transparent;
    .el-image {
      width: 100%;
      border: 2px solid #fff;
    }
  }
}

// .step-tab .el-tabs__item:before {
//   display: block;
//   position: absolute;
//   height: 10px;
//   width: 10px;
//   left: -6px;
//   top: 13px;
//   content: "";
//   border-top: 1px solid #E4E7ED;
//   border-right: 1px solid #E4E7ED;
//   background: #fff;
//   -webkit-transform: rotate(45deg);
//   transform: rotate(45deg);
// }
// .step-tab .el-tabs__item:first-child:before {
//   display: none;
// }
// .el-tree .el-tree-node__content * {
//   font-size: 14px;
// }
// .el-button {
//   border-radius: 2px;
// }
// .el-button.el-button--primary.gradient {
//   border: none;
//   background: linear-gradient(to right, #0E82EB99, #0E82EBFF);
//   &.is-disabled {
//     background: #a0cfff!important;
//   }
// }

/**
 * 通用 form 的样式修改
 */
.el-tag {
  margin-right: 15px;
  margin-bottom: 7.5px;
}
.button-new-tag {
  height: 32px;
  line-height: 30px;
  margin-bottom: 7.5px;
  padding-top: 0;
  padding-bottom: 0;
}
.input-new-tag {
  width: 90px;
  margin-bottom: 7.5px;
  vertical-align: top;
}
.el-checkbox__label, .el-radio__label{
  font-weight: 500!important;
}
/**
 * nav-layout 的样式
 */
.main-container {
  background: #F5F5F5;
  .no-fold-img {
    height: 55px;
    width: 42px;
    padding: 0 11px 0 11px;
    background: #001324;
  }
  .body-top {
    height: 55px;
    overflow-y: hidden;
    background: #fff;
    border-bottom: 1px solid #f5f5f5;
    .fold-button {
      margin: 15px 10px;
      font-size: 26px;
      color: #333333;
      &:hover {
        cursor: pointer;
      }
    }
    .user-area {
      position: absolute;
      right: 0;
      top: 0;
      display: flex;
      align-items: center;
      width: 150px;
      padding: 17px 10px;
      img {
        height: 35px;
        border: 2px solid #8FC23E;
        border-radius: 50px;
      }
      span {
        width: 100px;
        padding: 0 10px;
        text-align: center;
      }
    }
  }
  .body {
    display: flex;
    justify-content: space-between;
    height: calc( 100vh );
    .right-area {
      width: 100%;
    }
    .router-container {
      display: inline-block;
      width: calc( 100vw - 200px );
      max-height: calc( 100vh - 55px );
      overflow-y: auto; 
      animation: fold .3s ease-in-out;
      box-sizing: border-box;
      
      &.has-folded {
        animation: unfold .3s ease-in-out;
        width: calc( 100vw - 64px );
      }
    }
  }
}

/* 页面主体 container 的样式 (模块式)*/
.el-header {
  height: 55px!important;
  display: flex;
  align-items: center;
  .el-page-header__content {
    // font-size: 16px!important;
    font-weight: bold;
  }
}
.el-main {

}

// /**
//  * 基础组件view样式
//  */
// .view-container {
//   position: relative;
//   .el-breadcrumb {
//     padding-top: 5px!important;
//     padding-bottom: 15px!important;
//     background: #F5F5F5;
//   }
//   // .el-breadcrumb:first-child {
//   //   padding: 20px;
//   //   background: #F5F5F5;
//   //   font-size: 16px;
//   // }
//   // .el-breadcrumb:first-child + .right-button {
//   //   position: absolute;
//   //   right: 10px;
//   //   top: 12px;
//   //   padding: 9px 5px;
//   //   i.fa{
//   //     margin-right: 5px;
//   //   }
//   // }
//   /* 面包屑强行变为标题, 便于以后拓展面包屑 */
//   span.el-breadcrumb__inner {
//     font-size: 18px;
//     font-weight: bold!important;
//     color: #333333!important;
//   }
//   .view-header {
//     display: flex;
//     justify-content: space-between;
//     height: 40px;
//     background: #F5F5F5;
//     padding-bottom: 15px;
//     .search-area {

//     }
//   }
//   .view-body {
//     height: calc( 100vh - 150px);
//     padding: 10px;
//     overflow-y: auto;
//   }
//   &.has-header .view-body {
//     height: calc( 100vh - 180px);
//   }
//   &.has-foot .view-body {
//     height: calc( 100vh - 180px);
//   }
//   .view-footer {
//     .el-pagination {
//       display: flex;
//       padding: 10px;
//       justify-content: flex-end;
//     }
//   }
// }
// .second-title {
//   margin-bottom: 10px;
//   padding: 0 10px;
//   font-size: 14px;
//   font-weight: bold;
//   border-left: 5px solid #62a303;
// }
// .input-with-select {
//   min-width: 150px;
// }


// /**
//  * 页面通用的微调部分
//  */
// .custom-input {
//   .el-input-group__prepend {
//     min-width: 80px;
//     background-color: #fff;
//   }
//   .el-input-group__append {
//     background-color: @--color-primary;
//     & i {
//       color: #fff;
//     }
//   }
// }


/**
 * 快捷类 样式
 */
.fill-width {
  width: 100%!important;
}
.fr {
  float: right;
}
.no-data-text {
  display: block;
  margin: 5px 0;
  color: #909399;
  text-align: center;
}
.display-block {
  display: block;
}
.align-left-through *{ //穿透
  text-align: left!important;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
.text-underline {
  text-decoration: underline;
}

.margin-t-0 {
  .margin-top(@t: 0);
}
.margin-r-0 {
  .margin-right(@r: 0);
}
.margin-b-0 {
  .margin-bottom(@b: 0);
}
.margin-l-0 {
  .margin-left(@l: 0);
}

.margin-t-15 {
  .margin-top(@t: 15px);
}
.margin-r-15 {
  .margin-right(@r: 15px);
}
.margin-b-15 {
  .margin-bottom(@b: 15px);
}
.margin-l-15 {
  .margin-left(@l: 15px);
}

.margin-tb-15 {
  .margin-top(@t: 15px);
  .margin-bottom(@b: 15px);
}
.margin-lr-15 {
  .margin-left(@l: 15px);
  .margin-right(@r: 15px);
}
.margin-15 {
  .margin-top(@t: 15px);
  .margin-right(@r: 15px);
  .margin-bottom(@b: 15px);
  .margin-left(@l: 15px);
}
.margin-0 {
  .margin-top(@t: 0);
  .margin-right(@r: 0);
  .margin-bottom(@b: 0);
  .margin-left(@l: 0);
}
.text-32 {
  font-size: 32px;
  line-height: 1.3;
}
.text-24 {
  font-size: 24px;
  line-height: 1.2;
}
.text-18 {
  font-size: 18px;
  line-height: 1.2;
}
.text-16 {
  font-size: 16px;
}
.text-14 {
  font-size: 14px;
}
.text-12 {
  font-size: 12px;
}



.el-tree .text-button-wrap {
  width: 100%!important;
  height: 26px;
  line-height: 26px;
  .el-button {
    padding: 0;
  }
}

/* -----------------------------文档美化样式 ---------------------------*/
.default-container {
  margin: 15px;
  padding: 15px;
  background: #fff;
}
code { // 单行内代码
  display: inline-block;
  padding: 3px 10px;
  font-size: 12px;
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  font-family: Menlo,Monaco,Consolas,Courier,monospace;
}
pre { // 块级代码
  display: block;
  overflow-x: hidden;
  line-height: 1.8;
  font-family: Menlo,Monaco,Consolas,Courier,monospace;
  font-size: 12px;
  padding: 15px 20px;
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  margin-bottom: 25px;
  border-radius: 4px;
  -webkit-font-smoothing: auto;
}
.tip-area {
  padding: 8px 16px;
  background-color: #ecf8ff;
  border-radius: 4px;
  border-left: 5px solid #50bfff;
  margin: 20px 0;
}
.warning-area {
  padding: 8px 16px;
  background-color: #fdf6ec;
  border-radius: 4px;
  border-left: 5px solid #E6A23C;
  margin: 20px 0;
}
.h1 {
  font: 32px bold;
}
.h2 {
  font: 24px bold;
}
.h3 {
  font: 18px bold;
}
.h4 {
  font: 16px bold;
}
.p {
  font: 14px normal;
}
.small {
  font: 12px normal;
  color: #999999;
}