/**
 * responsive-layout 的样式
 */

.responsive-wrap { //最外层容器
  background: #f5f5f5;
  min-height: 100vh;
  .nav-holder { // 顶部导航占位
    width: 100vw;
    background: #001324;
    height: 61px;
    color: #fff;
  }
  .responsive-container { //包含主体的容器(不含导航)
    margin: 15px!important;
    background: #fff;
    min-height: 100%;
    overflow-y: auto;
    .fluid-container { //主体
      padding: 15px;
    }
  }
  .navigation-bar { //强制修改顶部导航
    width: 100vw!important;
    border-bottom: 0!important;
  }
  .navigation-bar .logo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 60px!important;
    width: 120px;
    img {
      height: 100%;
    }
    span {
      color: #fff;
    }
  }
  .navigation-bar.el-menu--horizontal .logo{
    float: left;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 60px!important;
    width: 120px;
    img {
      height: 100%;
    }
    span {
      color: #fff;
    }
  }
  .navigation-bar.el-menu--collapse { /* 为兼容导航折叠后文字依旧存在的问题*/
    .el-submenu__title {
      color: #001324!important;
      overflow-x: hidden; 
      i {
        color: #909399!important;
      }
    }
    .el-submenu.is-active .el-submenu__title{
      background: #0E82EB!important;
      color: #0E82EB!important;
      i {
        color: #fff!important;
      }
    }
  }
  .navigation-bar>.el-submenu.is-active, .navigation-bar>.el-submenu.is-active > .el-submenu__title:first-child {
    background: #0E82EB!important;
    i {
      color: #fff!important;
    }
  }
  .navigation-bar {
    &.el-menu--collapse {
      width: 64px;
    }
    .el-menu-item.is-active.single { // 单个节点
      background-color: #0E82EB!important;
      color: #fff;
    }
    .el-submenu .el-menu .el-menu-item {
      padding-left: 48px!important;
    }
  }
}