/*
Write your variables here. All available variables can be
found in element-ui/packages/theme-chalk/src/common/var.scss.
For example, to overwrite the theme color:
*/

/* icon font path, required */
$--font-size-base: 14px !important;
$--font-path: '~element-ui/lib/theme-chalk/fonts';

// $--color-primary: #0E82EB;
// $--color-warning: #FF9302;
// $--color-danger:  #FF6565;
// $--color-info:    #FF6565;

@import "~element-ui/packages/theme-chalk/src/index";

/* 全局色彩 */

.bg-primary {
  background-color: $--color-primary;
}
.bg-success {
  background-color: $--color-success;
}
.bg-warning {
  background-color: $--color-warning;
}
.bg-danger {
  background-color: $--color-danger;
}
.bg-info {
  background-color: $--color-info;
}