/*
Write your variables here. All available variables can be
found in element-ui/packages/theme-chalk/src/common/var.scss.
For example, to overwrite the theme color:
*/

/* icon font path, required */
$--font-size-base: 14px !important;
$--tag-font-size: 14px !default;
$--font-path: '~element-ui/lib/theme-chalk/fonts';

// 文字颜色
$--color-text-primary: #333333; // 标题
$--color-text-regular: #666666; // 正文
$--color-text-secondary: #999999; // 辅助
$--color-text-placeholder: #cbcbcb; // 占位
// $--color-primary: #0E82EB;
// $--color-warning: #FF9302;
// $--color-danger:  #FF6565;
// $--color-info:    #FF6565;
/* Header */
$--header-padding: 0 15px !default;
/* Footer */
$--footer-padding: 0 15px !default;
/* Main */
$--main-padding: 15px !default;

@import "~element-ui/packages/theme-chalk/src/index";

/* 全局色彩 */

.bg-primary {
  background-color: $--color-primary;
}
.bg-success {
  background-color: $--color-success;
}
.bg-warning {
  background-color: $--color-warning;
}
.bg-danger {
  background-color: $--color-danger;
}
.bg-info {
  background-color: $--color-info;
}
/* 全局文字颜色控制 */
h1, h2, h3, h4, h5 {
  color: $--color-text-primary;
}
p, li {
  color: $--color-text-regular;
  & span {
    color: inherit;
  }
}
small {
  color: $--color-text-secondary;
}
.text-white, .text-white:hover {
  color: #ffffff;
}
.text-info, .text-info:hover {
  color: $--color-text-secondary;
}
.text-primary, .text-primary:hover {
  color: $--color-primary;
}
.text-success, .text-success:hover {
  color: $--color-success;
}
.text-warning, .text-warning:hover {
  color: $--color-warning;
}
.text-danger, .text-danger:hover{
  color: $--color-danger;
}
.text-1 {
  color: $--color-text-primary;
}
.text-2 {
  color: $--color-text-regular;
}
.text-3 {
  color: $--color-text-secondary;
}
.text-4 {
  color: $--color-text-placeholder;
}